<IfModule mod_rewrite.c>
RewriteEngine On
RewriteRule ^(.*)$ public/$1 [L]
</IfModule>

<Files 403.shtml>
order allow,deny
allow from all
</Files>

deny from 144.160.155.69
deny from 98.137.11.164
deny from 69.252.80.75
